nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: orange; */
    padding: 0 30px;
}
#logo{
    display: flex;
}
#logo p{
    margin: 0;
    padding: 0 0 0 10px;
    color: orange

}

#form input{
    border-radius: 10px;
    width: 500px;
    text-align: center;
    padding: auto;
     border: 1px solid orange;
}

#navigation{
    height: 50px;
    
}

.liste{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.items{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(89, 86, 86);
    transition: 0.5s;
    cursor: pointer;
}
.items:hover{
    color: orange;
    font-size: 18px;
    border-bottom: 1px solid orange;
    font-weight: bold;
}
.liste li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.icon{
    padding-bottom: 7px;
}
li p{
    margin: 0;
}
.icon{
    padding-right: 5px;
    font-size: 18px;
}
.nav-active {
    position: relative;
}

.nav-active::after {
    content: "";
    height: 4px;
    width: 0;
    background: orange;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;
}

@keyframes anim {
    to {
      width: 100%;
    }
}

#btn{
    display: none;
}

@media screen and (max-width: 1015px) {
    nav{
        display: block;
    }
    #logo{
        display: none;
    }
    #form{
        display: block;
        position: absolute;
        top: 13px;
        left: 13px;
    }

    #navigation{
        height: 300px;
    }
    .liste{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .items:nth-child(1){
        border-top: 1px solid whitesmoke;
        margin-top: 50px;
    }
    .items{
        height: 50px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid whitesmoke;
        line-height: 50px;
    }
    #btn{
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }

}

@media screen and (max-width: 569px){
    #form{
        display: none;
    }
}

